.sidebarLink {
  &__mainLink {
    user-select: none;
    padding: 9.81px 9.67px;
    background-color: #00000033;
    cursor: pointer;
    font-size: 12.89px;
    line-height: 19.34px;
    font-family: ManropeBold;
    color: #ffffff;
    display: flex;
    align-items: center;
    border-radius: 4px;

    &--inactive {
      user-select: none;
      background-color: inherit;
      padding: 9.81px 9.67px;
      cursor: pointer;
      font-size: 12.89px;
      line-height: 19.34px;
      font-family: ManropeSemiBold;
      color: #ffffff;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-family: ManropeBold;
    }
  }

  &__mainLinkTitle {
    margin-right: 12px;
    display: flex;
    width: 100%;
  }

  &__mainLinkTitleContent {
    flex: 1;
  }

  &__mainLinkIcon {
    margin-right: 10px;
  }

  &__mainLinkArrowHead {
    margin-left: 12px;
    > svg {
      transform: rotate(360deg);
      transition: transform 0.3s ease;
    }
    &--inactive {
      margin-left: 12px;
      > svg {
        transform: rotate(270deg);
        transition: transform 0.3s ease;
      }
    }
  }

  &__mainLinkTag {
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    padding: 4px 8px;
    border-radius: 16px;
    background: #039855;
  }

  &__subLink {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__subLinkContent {
    width: 100%;
  }

  &__subLinkTitle {
    user-select: none;
    padding: 8px 12px 8px 56px;
    border-radius: 4px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-family: 'MailSansRomanMedium';
    line-height: 20px;
    letter-spacing: -0.24px;
    background-color: rgba(89, 65, 169, 1);
    cursor: pointer;
    &--inactive {
      padding: 8px 12px 8px 56px;
      position: relative;
      border-radius: 8px;
      user-select: none;
      background: inherit;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: rgba(255, 255, 255, 1);
      font-size: 14px;
      font-family: 'MailSansRomanMedium';
      line-height: 20px;
      letter-spacing: -0.24px;
      cursor: pointer;
    }
  }

  &__curveLine {
    position: absolute;
    left: -13px;
  }

  &__subLinkTag {
    color: #ffffff;
    text-align: center;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    padding: 1px 6px;
    border-radius: 12px;
    background: #039855;
    margin-left: 12px;
  }
}
