.RewardLineChart__wrapper {
  border-radius: 8px;
  background-color: inherit;
  &__title {
    font-family: Inter_SemiBold;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    margin-bottom: 32px;
  }
}
