.registerWrapper {
  color: #ffffff;

  &__inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 16px;
  }

  &__btnWrapper {
    margin-top: 28px;
    width: 100%;
  }

  &__btn {
    width: 100% !important;
    border-radius: 8px !important;
    padding: 16px !important;
    font-size: 20px;
    line-height: 24px;
    font-family: ManropeBold !important;
    color: #000000 !important;
  }

  &__registerHereWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    color: #cccccc;
    font-family: PoppinsRegular;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.04em;
    text-align: center;
  }

  &__registerHere {
    color: #28c4ee;
    cursor: pointer;
    text-decoration: none;
  }

  @media (min-width: 768px) {
    &__btn {
      font-size: 24px;
      line-height: 32.78px;
    }
  }
}
