.authBackgroundWrapper {
  width: 100%;
  height: 100%;
  background: #ffffff;

  &__content {
    padding: 18px;
    background: #04101f;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
  }

  &__leftBgDesign {
    position: fixed;
    bottom: 0;
    left: 0;
    width: auto;
    height: 100%;
    z-index: 0;
  }

  &__rightBgDesign {
    position: fixed;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
    z-index: 0;
  }

  &__cardWrapper {
    width: 100%;
    z-index: 99;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 27px;
  }

  &__formContainer {
    padding: 65px 20px;
    border: 0px 0px 1.5px 0px;
    border-bottom: 1.5px solid #ffffff33;
    background: #32505e;
    backdrop-filter: blur(24px);
  }

  &__textContainer {
    margin-bottom: 58px;
  }

  &__headText {
    font-family: ManropeBold;
    font-size: 32px;
    line-height: 43.71px;
    text-align: center;
    margin-bottom: 23px;
  }

  &__subText {
    font-size: 20px;
    line-height: 23.46px;
    text-align: center;
  }

  @media (min-width: 768px) {
    &__cardWrapper {
      width: 634px;
    }

    &__formContainer {
      padding: 65px 92px;
    }
  }

  @media (min-width: 1200px) {
    &__cardWrapper {
      width: 734px;
    }
  }
}
