.topPerformersRecordWrapper {
  background: linear-gradient(274.2deg, #2a5e74 1.89%, #103c52 84.8%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-x: auto;

  &__table {
    width: 100%;
    border: none;
    border-collapse: collapse;
  }

  &__tableHead {
    background: linear-gradient(298.54deg, #57bfdd -7.7%, #0a4b5c 97.12%);
  }

  &__tableHeadItem,
  &__tableBodyItem {
    color: white;
    border: none !important;
    padding: 10px;
    text-align: left;
    font-family: ManropeSemiBold;
    font-size: 14px;
    line-height: 16.41px;
    text-align: left;

    color: #ffd700 #c0c0c0;
  }

  &__tableBodyItem {
    background: rgba(44, 121, 149, 0.12);
    font-family: ManropeRegular !important;
  }

  &__levelWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__bodyRow {
    background: linear-gradient(
      93.7deg,
      rgba(35, 62, 80, 0.78) -15.94%,
      rgba(149, 203, 226, 0.78) 96.28%,
      rgba(170, 228, 252, 0.39) 127.86%
    );
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.202);
  }

  @media (min-width: 768px) {
    &__tableHeadItem,
    &__tableBodyItem {
      padding: 10px;
    }
  }
}
