.verifyOtpWrapper {
  color: #ffffff;

  &__containerSubText {
    font-family: ManropeRegular !important;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #cccccc;
  }

  &__pin {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__pinWrapper {
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  &__pinInput {
    width: 72.11px !important;
    height: 60px !important;
    margin-right: 0 !important;
    background: inherit;
    border: 1px solid #ababab;
    border-radius: 4px;
    color: white;
    font-size: 35px;
    &:focus {
      border: 1px solid #00a7d6 !important;

      outline: none;
    }
  }

  &__inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 16px;
  }

  &__forgotPasswordAndRememberMeWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__checkbox {
    width: 27px;
    height: 25px;
    background-color: #ffffff;
    border-radius: 4px;
  }

  &__forgotPassword {
    font-family: ManropeRegular;
    font-size: 14px;
    line-height: 19.12px;
    text-align: left;
    margin-bottom: 0;
    padding: 0;
    cursor: pointer;
    color: #cccccc;
  }

  &__rememberMeWrapper {
    display: flex;
    align-items: center;
    gap: 17.51px;
    cursor: pointer;
  }

  &__rememberMe {
    font-size: 14px;
    line-height: 19.12px;
    text-align: left;
    margin-bottom: 0;
    padding: 0;
    color: #cccccc;
  }

  &__resend {
    margin: 16px 0 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  &__resendText {
    margin-right: 2px;
  }

  &__resendTimer {
    color: #28c4ee;
    font-weight: 600;
  }

  &__resendClickable {
    cursor: pointer;
  }

  &__btnWrapper {
    margin-top: 28px;
    width: 100%;
  }

  &__btn {
    width: 100% !important;
    border-radius: 8px !important;
    padding: 16px !important;
    font-size: 20px;
    line-height: 24px;
    font-family: ManropeBold !important;
    color: #000000 !important;
  }

  &__registerHereWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    color: #cccccc;
    font-family: PoppinsRegular;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.04em;
    text-align: center;
  }

  &__registerHere {
    color: #28c4ee;
    text-decoration: none;
    cursor: pointer;
  }

  @media (min-width: 768px) {
    &__btn {
      font-size: 24px;
      line-height: 32.78px;
    }
  }
}
