.WelcomeCardWrapper {
  display: flex;
  justify-content: space-between;
  border: 1px solid #00a7d6;
  border-radius: 24px;
  background: linear-gradient(
    92.14deg,
    rgba(35, 62, 80, 0.78) 9.99%,
    rgba(149, 203, 226, 0.78) 98.09%,
    rgba(170, 228, 252, 0.78) 110.65%
  );
  position: relative;
  overflow: hidden;
  margin-bottom: 37px;

  &__left {
    padding: 32px 20px;
    width: fit-content;
  }

  &__greetings {
    font-family: ManropeBold;
    font-size: 22px;
    line-height: 22px;
    text-align: left;
    margin-bottom: 12px;
  }

  &__message {
    text-align: left;
    font-size: 16px;
    line-height: 21.86px;
    letter-spacing: -0.04em;
    max-width: 487px;
  }

  &__right {
    width: fit-content;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
  }

  @media (min-width: 768px) {
    &__left {
      padding: 22px 20px;
    }

    &__message {
      max-width: 387px;
    }

    &__right {
      display: flex;
    }
  }

  @media (min-width: 815px) {
    &__message {
      max-width: 487px;
    }

    &__left {
      padding: 32px 40px;
    }
  }

  @media (min-width: 1200px) {
  }

  @media (min-width: 1400px) {
    &__message {
      max-width: 587px;
    }
  }
}
