.SelectRoleFormWrapper {
  &__btn {
    width: 100% !important;
    border-radius: 8px !important;
    padding: 16px !important;
    font-size: 18px;
    line-height: 24.59px;
    font-family: ManropeMedium !important;
    color: #000000 !important;
    border: none;
  }

  &__input {
    margin-bottom: 36px;
  }
}
